@charset "utf-8";
/* CSS Document */

.ifshadow
	{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12);
	padding:5px;
	}
	.rightshadow{box-shadow:3px 3px 2px rgba(181,181,181,1.00);}
	.leftshadow{box-shadow:0 0px 0px 3px rgba(0,0,0,0.12);}
	button{background-color:#ffbf00;}
	.ifont
	{
		font-size:10px;
		}
		.imgcenter{margin:auto;}
		.bordershow{ border-width:thin; border-style:solid; border-color:rgba(204,204,204,1.00);}
